<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block title %}<title>Cine Froy</title>{% endblock %}

  {%load static %}
  <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/carousel/">
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/carousel.css' %}" rel="stylesheet">
  <script src="{% static 'js/metodos.js' %}"></script>
</head>

  <body>

    <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Cine Froy &#127909; &#127871;</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'index' %}">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'cartelera' %}">Peliculas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'formulario' %}">Unete a nosotros</a>
        </li>
      </ul>
      {% if user.is_authenticated  %}
        {% if user.is_staff %}
        <a class="nav-item "><a href="/admin" style="color: white"class="nav-link"><strong>Administracion</strong></a>
        {% endif %}

            <a class="nav-link" style="color: white;" href="{% url 'logout' %}"> <strong>Cerrar sesión </strong></a>

          {% else %}

            <a class="nav-link" style="color: white;" href="{% url 'login' %}"> <strong>Ingresar</strong> </a>
            <a class="nav-link" style="color: white;" href="{% url 'signup' %}"> <strong>Registrarse</strong> </a>

          {% endif %}
    </div>
  </nav>
</header>
{% block content %}{% endblock %}
  <br><br><br><br><br><br><br>
  <footer class="container">
    <p class="float-right"><a href="#">Volver hacia arriba</a></p>
    <p>&copy; 2017-2020 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>window.jQuery</script><script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</html>