{% extends "base_generic.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
</head>

{% block content %}
<body>
  <main role="main">


    <hr class="featurette-divider">
    <div class="container" style= "color: #353333">
      <h1 class="cover-heading">Bienvenidos a Cine Froy &#127909; &#127871;</h1>
      <p class="lead">Disfruta de nuestras seleccion especial de esta semana!, No te lo puedes perder invita a tus amigos!</p>
      <hr class="featurette-divider">
      {% if user.is_authenticated  %}{% if user.is_staff %}
    <div class="row">
        <a class="btn btn-block btn-primary" href="{% url 'pelicula_create' %}" style="float: right; font-size: 14px;">Agregar Pelicula <span class="glyphicon glyphicon-plus"></span></a>
    </div>
    <br>
    {% else %}{% endif %}{% else %}{% endif %}
        <div class="row">



        {% for peli in Pelis %}
        <div class="card" style="width: 17rem;">
          <img src="{{peli.image.url}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{peli.nombre}}</h5>
            <p class="card-text">{{peli.genero}}</p>
            <p class="card-text">Director: {{peli.director}}</p>
            <a href="{{peli.trailer}}" class="btn btn-primary">Trailer</a>
          </div>
        </div>

        <br>
        {% endfor %}
      </div>
      <hr class="featurette-divider">
  </div><!-- /.container -->
  {% endblock %}
</body>
</html>




</main>

</html>
